$corporate-color: gray;
$accent-color: blue;
body {
  background-color: $corporate-color;

}

header {
  height: 150px;
  background-color: $accent-color;
  display: flex;
  justify-content: center;
  aling-items: center;



  & h1 {
    font-size: 20px;
    font-family:sans-serif;
    color: #ffffff;

    & span {
      color: red;
    }
  }
}