@import "colors";
@import "mixins";
body {
  background-color: $verde;

}

header {
  height: 150px;
  background-color: $accent-color;
  display: flex;
  justify-content: center;
  aling-items: center;

  & h1 {
    font-size: 20px;
    font-family:sans-serif;
    color: #ffffff;

    & span {
      color: red;
    }
  }
}

p:first-of-type {
  @include margin(30px, 50px);
}

p:last-of-type {
  @include margin(80px, 120px);
}

.alert  {
  padding: 20px;
  border-radius: 10PX;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-family: sans-serif;
  margin: 10px;
  box-shadow: 1px 1px 5px #000000;
  text-shadow: 1px 1px 1px #ffffff;
}

.succes {
  @extend .alert;
  border: 1px solid greenyellow;
  background-color: lightgreen;

}

.warning{
  @extend .alert;
  border: 1px solid yellowgreen;
  background-color: yellowgreen;
}

.error {
  @extend .alert;
  border:1px solid darkred;
  background-color: palevioletred;
}

$total-width: 960px;
$total-padding: 40px;
.container { width: $total-width; }


article {
  float: left;
  width: 660px / $total-width * 100%;
}

aside {
  float: right;
  width: 300px / $total-width * 100%;
}


main{
  @if ($total-width <= 1280px) {
      padding: $total-padding;
  }
      @else {
      padding: $total-padding / 2;
    }
  }
