body {
  background-color: gray; }

header {
  height: 150px;
  background-color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  aling-items: center; }
  header h1 {
    font-size: 20px;
    font-family: sans-serif;
    color: #ffffff; }
    header h1 span {
      color: red; }

p:first-of-type {
  margin: 30px 50px; }

p:last-of-type {
  margin: 80px 120px; }

.alert, .succes, .warning, .error {
  padding: 20px;
  -webkit-border-radius: 10PX;
  border-radius: 10PX;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  font-family: sans-serif;
  margin: 10px;
  -webkit-box-shadow: 1px 1px 5px #000000;
  box-shadow: 1px 1px 5px #000000;
  text-shadow: 1px 1px 1px #ffffff; }

.succes {
  border: 1px solid greenyellow;
  background-color: lightgreen; }

.warning {
  border: 1px solid yellowgreen;
  background-color: yellowgreen; }

.error {
  border: 1px solid darkred;
  background-color: palevioletred; }
